:root {
    --primary-color: hsl(206, 17%, 28%);
    --save-btn-color: rgb(47, 100, 215);
    --save-btn-hover-color: rgb(251, 31, 64);
    --past-color: gray;
    --background-color:#e1e6ea;
    --save-icon-color: hsl(0, 0%, 100%);
    --future-color: green;
    --present-color: red;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent; 
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .textInput{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: var(--background-color);
    color: #000000;
    border-top: 1px solid #000000;
  }
  
  .past {
    background-color: var(--past-color);
    color: var(--primary-color);
  }
  
  .present {
    background-color: var(--present-color);
    color: var(--primary-color);
  }
  
  .future {
    background-color: var(--future-color);
    color: var(--primary-color);
  }

  .save {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    white-space: pre;
  }
  
  .red {
    color: #fb5148;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .bi-check2-all {
    color: darkgreen;
    font-size: 1.3rem;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--save-btn-color);
    color: var(--save-icon-color);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

  /* MEDIA QUERIES */
  /* desktops */
@media (max-width: 768px) {
  .jumbotron h1 {
    font-size: 55px;
  }

  .jumbotron p {
    font-size: 20px ;
  }

  .jumbotron {
    padding-bottom: 18px;
  }

  #currentDay {
    font-size: 20px;
  }

  .row {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 85px;
    justify-content: center;
  }
  
  .hour {
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 0;
    border: 1px solid #000000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .saveBtn {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .saveBtn:hover {
    font-size: 16px;
    transition: all .3s ease-in-out;
    background-color: var(--save-btn-hover-color);
  }

  .time-block{
    text-align: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Small devices */
@media (max-width: 576px) {
  .jumbotron h1 {
    font-size: 45px;
  }

  .jumbotron p {
    font-size: 18px ;
  }

  .jumbotron {
    padding-bottom: 20px;
    background-color: var(--background-color);
  }

  #currentDay {
    font-size: 17px;
  }

  .row {
    margin-bottom: 85px;
    justify-content: center;
  }
  
  .hour {
    
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 0;
    border: 1px dashed #000000;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  .saveBtn {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    background-color: var(--save-btn-color);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .saveBtn:focus {
    font-size: 16px;
    transition: all .3s ease-in-out;
    background-color: var(--save-btn-hover-color);
  }

  .time-block{
    text-align: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}